//Colors
//Neutral Colors BLACK GREY OFF-WHITE AND WHITE
//60% WHITE BLACK ORANGE GREEN
//30% PURPLE
//SEA GREEN & OFF WHITE
$neutral-color-white: #fffbf7;
$neutral-color-black: #333333;
$neutral-color-off-white__-1: #f7f7f7;
$neutral-color-off-white__0: #f3f1e8;
$neutral-color-grey__-2: #d9d9d9;
$neutral-color-grey__-1: #BBBBBB;
$neutral-color-grey__0: #7a7a7a;
$neutral-color-grey__1: #4d4546;

//Primary Color : ORANGE & GREEN
$primary-color-orange__1: #e06d56;
$primary-color-orange__0: #e68572;
$primary-color-orange__-1: #f9aa89;
$primary-color-purple__-2: #f3c9cb;
$primary-color-purple__-2: #cb7185;
$primary-color-purple__0: #97667b;
$primary-color-purple__1: #504050;


//Secondary color: GREEN */
$secondary-color-green__-2: #7ceebf;
$secondary-color-green__-1: #6ECCA5;
$secondary-color-green__0: #47a48b;
$secondary-color-green__1: #2f7e6c;

//Fourth Color : YELLOW & RED */
$tertiary-color-yellow: #ffefd6;
$tertiary-color-red: #d24a30;
$tertiary-sea-green: #174B5B;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font size
$default-font-size: 1.6rem;