//Variables
//Neutral Colors BLACK GREY OFF-WHITE AND WHITE
//60% WHITE BLACK ORANGE GREEN
//30% PURPLE
//SEA GREEN & OFF WHITE
$neutral-color-white: #fffbf7;
$neutral-color-off-white: #f3f1e8;
$neutral-color-black: #221b22;
$neutral-color-grey: #4d4546;

//Primary Color : ORANGE & GREEN
$primary-color-orange__1: #e06d56;
$primary-color-orange__0: #e68572;
$primary-color-orange__-1: #f9aa89;
$secondary-color-green__-2: #7ceebf;
$secondary-color-green__-1: #6ECCA5;
$secondary-color-green__0: #47a48b;
$secondary-color-green__1: #2f7e6c;

//Secondary color: PURPLE */
$secondary-color-purple__-2: #f3c9cb;
$secondary-color-purple__-2: #cb7185;
$secondary-color-purple__0: #97667b;
$secondary-color-purple__1: #504050;

//Fourth Color : YELLOW & RED */
$tertiary-color-yellow: #ffefd6;
$tertiary-color-red: #d24a30;
$tertiary-sea-green: #174B5B;

