//Colors
//Neutral Colors BLACK GREY OFF-WHITE AND WHITE
//60% WHITE BLACK ORANGE GREEN
//30% PURPLE
//SEA GREEN & OFF WHITE
$neutral-color-white: #fffbf7;
$neutral-color-black: #121c04;
$neutral-color-off-white__-1: #f7f7f7;
$neutral-color-off-white__0: #f3f1e8;
$neutral-color-grey__-2: #d9d9d9;
$neutral-color-grey__-1: #BBBBBB;
$neutral-color-grey__0: #7a7a7a;
$neutral-color-grey__1: #4b4b4b;

//Primary Color : GREEN
$primary-color__-2: #d7f69e;
$primary-color__-1: #b1d823;
$primary-color__0: #6eaf1f;
$primary-color__1: #508104;
$primary-color__2: #2e631b;
$primary-color__3: #1b400c;

//Secondary color: YELLOW */
$secondary-color__-2: #e7f653;
$secondary-color__-1: #fddf15;
$secondary-color__0: #fcbf00;
$secondary-color__1: #db8200;


//Tertiary Color : YELLOW TORQUISE AND RED */
$tertiary-color__red__-2: #e34500;
$tertiary-color__red__-1: #c92424;
$tertiary-color__red__0: #b64201;
$tertiary-color__red__1: #6d0808;
$tertiary-color__red__2: #4b1f1f;
$tertiary-color__torquise__-1:#40e0d0;
$tertiary-color__torquise__0:#3acabb;
$tertiary-color__torquise__1:#26867d;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font size
$default-font-size: 1.6rem;