.card {
  //FUNCTIONALITY
  //perspective means how far the value is from the screen and how intense the 3d effects are on the shape
  //perspective is always written to the parent property and applied to children
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55rem;

  &__side {
    color: $neutral-color-grey__0;
    font-size: 2rem;
    width: 100%;
    height: 55rem;
    transition: all 1s ease-in-out;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    border-radius: $border-radius-medium;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($neutral-color-grey__2, 0.2);

    &--front {
      background-color: $neutral-color-white;
    }

    &--back {
      //backside already rotated 180deg by default
      transform: rotateY(180deg);
      z-index: -1;

      &--1 {
        background: linear-gradient(to right bottom, rgba($secondary-color__-1, 0.9), rgba($secondary-color__1, 1));
      }

      &--2 {
        background: linear-gradient(to right bottom, rgba($tertiary-color__torquise__-1, 1), rgba($tertiary-color__torquise__1, 1));
      }

      &--3 {
        background: linear-gradient(to right bottom, rgba($tertiary-color__red__-3, 1), rgba($tertiary-color__red__0, 1));
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    //on hover rotate the back side back to normal
    transform: rotateY(0deg);
  }

  //FRONT-SIDE STYLING
  &__picture {
    width: 100%;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, rgba($secondary-color__-1, 1), rgba($secondary-color__1, 1)), url("../img/nat-1x887.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-blend-mode: hard-light;
      @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba($secondary-color__-1, 1), rgba($secondary-color__1, 1)), url("../img/nat-1x1000.jpg");
      }
      @media (max-width: 75em) {
        background-image: linear-gradient(to right bottom, rgba($secondary-color__-1, 1), rgba($secondary-color__1, 1)), url("../img/nat-1x300.png");
      }
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($tertiary-color__torquise__-1, 1), rgba($tertiary-color__torquise__1, 1)), url("../img/nat-32x900.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-blend-mode: hard-light;
      @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba($tertiary-color__torquise__-1, 1), rgba($tertiary-color__torquise__1, 1)), url("../img/nat-32x1200.png");
      }
      @media (max-width: 75em) {
        background-image: linear-gradient(to right bottom, rgba($tertiary-color__torquise__-1, 1), rgba($tertiary-color__torquise__1, 1)), url("../img/nat-32x600.png");
      }
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba($tertiary-color__red__-3, 1), rgba($tertiary-color__red__0, 1)), url("../img/nat-52x900.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-blend-mode: hard-light;
      @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba($tertiary-color__red__-3, 1), rgba($tertiary-color__red__0, 1)), url("../img/nat-52x1200.png");

      }
      @media (max-width: 75em) {
        background-image: linear-gradient(to right bottom, rgba($tertiary-color__red__-3, 1), rgba($tertiary-color__red__0, 1)), url("../img/nat-52x500.png");

      }
    }
  }

  &__heading {
    color: $neutral-color-white;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 13rem;
    right: 3rem;
    text-align: right;
    width: 75%;
  }

  //its not an element block or modifier that's why its placed separately here
  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;

    &--1 {
      background: linear-gradient(to right bottom, rgba($secondary-color__-1, 0.8), rgba($secondary-color__1, 0.8));
    }

    &--2 {
      background: linear-gradient(to right bottom, rgba($tertiary-color__torquise__-1, 0.8), rgba($tertiary-color__torquise__1, 0.8));
    }

    &--3 {
      background: linear-gradient(to right bottom, rgba($tertiary-color__red__-3, 0.8), rgba($tertiary-color__red__0, 0.8));
    }
  }

  &__details {
    font-size: 1.7rem;
    font-weight: 400;
    width: 75%;
    padding: 4rem 1rem;
    margin: 0 auto;

    &-list li:not(:last-child) {
      border-bottom: 1px solid rgba($neutral-color-grey__-1, 0.3);
    }
  }

  &__detail {
    list-style: none;
    text-align: center;
    padding: 1rem;
  }

  &__cta {
    color: $neutral-color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-transform: uppercase;
    margin-bottom: 17rem;
  }

  &__price-only {
    font-size: 1.6rem;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }


  @include respond(tab-port) {
    height: auto;
    background-color: $neutral-color-white;
    border-radius: $border-radius-medium;
    box-shadow: 0 1.5rem 4rem rgba($neutral-color-grey__2, 0.2);
    &__side {
      height: auto;
      position: relative;
      overflow: hidden;
      border-radius: $border-radius-medium $border-radius-medium 0 0;
      box-shadow: none;

      &--back {
        //backside already rotated 180deg by default
        transform: rotateY(0deg);
        clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 0 $border-radius-medium $border-radius-medium;
        z-index: 1;
      }
    }
    &__picture {
      height: 30rem;
    }
    &__details {
      padding: 3rem 1rem;
    }
    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 5rem 7rem 5rem;
    }
    &__price-box {
      margin-bottom: 1rem;
      margin-top: 4rem;
    }
    &__price-value {
      font-size: 5rem;
    }
  }

}