.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    width: 100%;
    display: block;
    color: $neutral-color-grey__1;
    font-family: inherit;
    font-size: $default-font-size;
    padding: 1.5rem 2rem;
    border-radius: $border-radius-default;
    background-color: rgba($neutral-color-white, 0.7);
    border: none;
    border-bottom: $border-thickness-default solid transparent;
    outline: none;
    transition: all 0.5s ease-in-out;

    &:focus {
      outline: none;
      border: none;
      border-bottom: $border-thickness-default solid $primary-color__0;
      box-shadow: 0 1rem 2rem rgba($neutral-color-grey__1, 0.5);
    }

    &:focus:invalid {
      border: none;
      border-bottom: $border-thickness-default solid $tertiary-color__red__-2;
    }

    &::-webkit-input-placeholder {
      font-size: 1.6rem;
      color: $neutral-color-grey__0;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    display: block;
    transition: all 0.5s ease-in-out;
    margin-top: 1rem;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio {
    &-group {
      width: 49%;
      display: inline-block;
    }

    &-label {
      //text-transform: uppercase;
      color: $neutral-color-grey__1;
      font-family: inherit;
      font-size: $default-font-size;
      display: inline-block;
      position: relative;
      padding-left: 5rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-input {
      display: none;
    }

    &-button {
      height: 2.5rem;
      width: 2.5rem;
      transform: rotateZ(45deg);
      border: $border-thickness-default solid $primary-color__0;
      display: inline-block;
      position: absolute;
      left: 7px;
      top: 2px;

      &:hover {
        cursor: pointer;
      }

      &::after {
        height: 1.25rem;
        width: 1.25rem;
        content: "";
        display: block;
        background-color: $primary-color__0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

    }

  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}