.composition {
  position: relative;

  &__photo {
    width: 60%;
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba($neutral-color-grey__0, 0.5);
    border-radius: $border-radius-3;
    position: absolute;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    //outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      left: 53%;
      top: 3rem;
    }

    &--p3 {
      left: 17%;
      top: 15rem;
    }

    &:hover {
      //add border with gradient to the image which is being hovered
      //outline offset on the main element for space between outline and the block
      //outline: 1.5rem solid $primary-color-purple__1;
      padding: 1.5rem;
      border: 1rem solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to left top, rgba($primary-color__1,1), rgba($primary-color__-2,1));

      transform: scale(1.2);
      box-shadow: 0 1.7rem 4rem rgba($neutral-color-grey__0, 0.6);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover){
    transform: scale(0.95) translateY(-5px);

  }
}