.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.8);
  display: none;

  &__content {
    background-color: $neutral-color-off-white__0;
    width: 80vw;
    opacity: 1;
    z-index: 2001;
    border-radius: $border-radius-medium;
    @include box-shadow-default;
    @include absolute-center;
    display: table;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    display: block;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  //Apply display : table for the parent element and display : table-cell
  //for the children to make both children element having the same height
  &__right {
    width: 65.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 4rem 4rem;
  }

  &__details {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $neutral-color-grey__-2;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $neutral-color-grey__-2;
  }

  &__paragraph {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}