.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.8);

  &__content {
    background-color: $neutral-color-off-white__0;
    height: 50rem;
    width: 80vw;
    opacity: 1;
    z-index: 2001;
    border-radius: $border-radius-medium;
    @include box-shadow-default;
    @include absolute-center;
  }

  &__photo {
  }

  &__left {

  }

  &__right {

  }

  &__details {
  }

  &__paragraph {

  }
}