.popup {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);

  &__content {
    transition: all 0.4s ease-in-out .2s;
    background-color: $neutral-color-off-white__0;
    width: 85vw;
    z-index: 2001;
    border-radius: $border-radius-medium;
    @include box-shadow-default;
    @include absolute-center;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(-0.2);
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 2.7fr;
    overflow-y: auto;
    @include respond(tab-land) {
      width: 90vw;
      display: block;
    }
  }

  &__left {
    width: 100%;
    height: 64.99rem;
    @include respond(tab-land) {
      height: 30rem;
      width: 100%;
      display: block;
    }
  }

  &__photo-list {
    width: 100%;
    height: 64.99rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    @include respond(tab-land) {
      width: 100%;
      height: 30rem;
      border-radius: 5px;
      margin: 8rem auto;
      display: block;
    }
  }

  &__photo {
    width: 100%;
    height: 32.49rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: hard-light;
    @include respond(tab-land) {
      height: 30rem;
      width: 80%;
      border-radius: 5px;
    }

    &--1 {
      background-image: url("../img/nat-15.jpg");
      @include respond(tab-land) {
        margin: 0 auto;
      }
    }

    &--2 {
      background-image: url("../img/nat-32.jpg");
      @include respond(tab-land) {
        display: none;
      }
    }
  }

  //Apply display : table for the parent element and display : table-cell
  //for the children to make both children element having the same height
  &__right {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 4rem 4rem;
    @include respond(tab-land) {
      width: 100%;
      display: block;
      padding: 7rem 3rem;
    }
  }

  &__details {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $neutral-color-grey__-2;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $neutral-color-grey__-2;
    @include respond(tab-land) {
      columns: 1;
      margin-bottom: 3rem !important;
    }
  }

  &__paragraph {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {

    &:link,
    &:visited {
      position: absolute;
      right: 3rem;
      top: 3rem;
      display: inline-block;
      font-size: 3rem;
      color: $primary-color__1;
      transition: all 0.3s ease-in-out;
      line-height: 1;
    }

    &:hover,
    &:active {
      transform: scale(1.1);
      color: $primary-color__2;

    }
  }
}