.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($neutral-color-grey__1, 0.3);
  background-color: rgba($neutral-color-white, 0.7);
  border-radius: $border-radius-default;
  padding: 6rem 6rem 6rem 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  //backface-visibility: hidden;
  @include respond(tab-port) {
    width: 100%;
    padding: 6rem 5rem 6rem 7rem;
  }
  @include respond(phone) {
    width: 100%;
    transform: skewX(0deg);
    padding: 4rem 3rem 4rem 4rem;
  }
  @include respond(small-phone) {
    text-align: center;
    padding: 5rem 3rem 5rem 4rem;
  }

  &__shape {
    width: 20rem;
    height: 20rem;
    float: left;
    background-color: #2e631b;
    transform: translateX(-3rem) skewX(12.5deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }
    @include respond(tab-port) {
      width: 15rem;
      height: 15rem;
      transform: translateX(-4rem) skewX(12.5deg);
    }
    @include respond(phone) {
      width: 13rem;
      height: 13rem;
      transform: translateX(-2rem) skewX(0deg);
    }
    @include respond(small-phone) {
      width: 20rem;
      height: 20rem;
      transform: translateX(1rem) skewX(0deg);
    }
  }

  &__picture {
    height: 100%;
    width: auto;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    //width: inherit;
  }

  &__text {
    transform: skewX(12deg);
    @include respond(phone) {
      transform: skewX(0deg);
    }
    @include respond(small-phone) {
      margin-top: 25rem;
    }
  }

  &__caption {
    color: $neutral-color-white;
    position: absolute;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%) scale(0.5);
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

  }

  &:hover &__picture {
    height: 100%;
    width: auto;
    filter: blur(2px) brightness(80%);
    transform: scale(1);

  }
}