.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($neutral-color-grey__1, 0.3);
  background-color: white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  //backface-visibility: hidden;

  &__shape {
    width: 20rem;
    height: 20rem;
    float: left;
    background-color: #2e631b;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12.5deg);
    position: relative;
  }

  &__picture {
    height: 100%;
    width: auto;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    //width: inherit;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    color: $neutral-color-white;
    position: absolute;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%) scale(0.5);
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;

  }

  &:hover &__picture {
    height: 100%;
    width: auto;
    filter: blur(2px) brightness(80%);
    transform: scale(1);

  }
}