@import "../abstract/variables";

.heading-primary {
  color: $neutral-color-white;
  text-transform: uppercase;
  //correct the shaky animation
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 1.9rem;
    text-align: center;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    //animation-iteration-count: 3;
    //animation-delay: 3s;

  }

  &--sub {
    font-size: 2.5rem;
    font-weight: 300;
    word-spacing: $default-font-size;
    letter-spacing: .9rem;
    display: block;
    text-align: center;
    animation: moveInRight 1s ease-in-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5rem;
  word-spacing: 0.5rem;
  background-image: linear-gradient(to right bottom, $primary-color__-1, $primary-color__2);
  -webkit-background-clip: text;
  color: transparent;

  &:hover {
    transition: all 1s ease-in-out;
    transform: skewY(-1.5deg) skewX(-12deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($neutral-color-black, 0.4);
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $neutral-color-grey__0;
  padding: 3rem;
}
