.heading-primary {
  color: $neutral-color-white;
  text-transform: uppercase;
  //correct the shaky animation
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: 1.9rem;
    text-align: center;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    //animation-iteration-count: 3;
    //animation-delay: 3s;

  }

  &--sub {
    font-size: 2.5rem;
    font-weight: 400;
    word-spacing: 1.6rem;
    letter-spacing: .9rem;
    display: block;
    text-align: center;
    animation: moveInRight 1s ease-in-out;
  }
}