.section-about {
  background-color: $neutral-color-off-white__-2;
  padding: 35rem 0;
  margin-top: -25vh;
}

.section-features {
  padding: 35rem 0;
  background-image: linear-gradient(to right bottom, rgba($secondary-color__-2, .7), rgba(
                  $primary-color__-2, .75),
          rgba($primary-color__0, 0.7),
          rgba($primary-color__1, 0.7),
          rgba($primary-color__2, 0.6)), url("../img/nat-11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $neutral-color-off-white__-2;
  padding: 35rem 0 15rem 0;
  margin-top: -15rem;
}

.section-stories {
  padding: 15rem 0;
  color: $neutral-color-grey__1;
  position: relative;
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba($secondary-color__-2, .7), rgba(
                  $primary-color__-2, .75),
          rgba($primary-color__0, 0.7),
          rgba($primary-color__1, 0.7),
          rgba($primary-color__2, 0.6));
}

.book{
  width: 100%;
  height: 50rem;
  border-radius: $border-radius-5;
  box-shadow: 0 3rem 6rem rgba($neutral-color-grey__1, 0.5);
  background-image: linear-gradient(105deg, rgba($neutral-color-white, 0.85) 0%,
          rgba($neutral-color-white, 0.85) 65%, rgba(transparent, 0) 65%), url("../img/nat-6.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  &__form{
    width: 65%;
    padding: 6rem;
  }
}
