.section-about {
  background-color: $neutral-color-off-white__-1;
  padding: 35rem 0;
  margin-top: -25vh;
}

.section-features {
  padding: 35rem 0;
  background-image: linear-gradient(to right bottom, rgba($secondary-color__-2, .7), rgba(
                  $primary-color__-1, .75),
          rgba($primary-color__0, 0.7),
          rgba($primary-color__1, 0.7),
          rgba($primary-color__2, 0.6)), url("../img/nat-11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $neutral-color-off-white__-1;
  padding: 35rem 0 50rem 0;
  margin-top: -15rem;
}