.footer {
  background-color: $neutral-color-grey__4;
  padding: 15rem 2rem;
  font-size: 1.4rem;
  color: $neutral-color-off-white__0;

  @include respond(tab-port) {
    padding: 8rem 0 10rem 0;
  }

  &__logo-box {
    padding: 5rem 0;
    text-align: center;
    margin-bottom: 6rem;
    @include respond(tab-port) {
      margin-bottom: 3rem;
    }
  }

  &__logo {
    width: 18rem;
    height: auto;
    margin: 0 auto;

    &__image {
      width: 20rem;
      @include respond(tab-port) {
        width: 40%;
      }
    }
  }

  &__column {
    border-top: solid 1px $neutral-color-off-white__0;
    padding-top: 2rem;
    // by setting display inline block we make sure the element takes space
    // according to its content and not all the available space
    display: inline-block;
  }

  &__list {
    list-style: none;
    transform: translateY(-0.8rem);
    text-align: center;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.3rem;
    }

  }

  &__copyright {
    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__link {

    &:link,
    &:visited {
      color: $neutral-color-off-white__-1;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }

    &:hover,
    &:active {
      color: $primary-color__-2;
    }

    &--button:link,
    &--button:visited {
      color: $neutral-color-off-white__-1;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      padding: 0.8rem 1.2rem;
    }

    &--button:hover,
    &--button:active {
      color: $primary-color__-2;
      border-radius: 11rem;
      transform: translateY(0.2rem);
      box-shadow: 0 0rem 1rem rgba(1, 1, 1, 0.3);
    }
  }
}