.footer {
  background-color: $neutral-color-grey__4;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    padding: 5rem 0;
  }

  &__logo {
    width: 18rem;
    height: auto;
    margin: 0 auto;
  }

  &__navigation {

  }

  &__list {

  }

  &__item {

  }
}