.header {
  position: relative;
  height: 85vh;
  background-image: linear-gradient(to left bottom, rgba(
                  $secondary-color__-2, .4), rgba(
                  $primary-color__-2, .5),
          rgba($primary-color__0, 0.6),
          rgba($primary-color__1, 0.7),
          rgba($primary-color__2, 0.75)), url("../img/nat-12x1500.png");
  background-size: cover;
  background-position: top;
  overflow: hidden;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }
  // apple retina screen resolution for higher resolution
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  (min-width: 125em) {
    background-image: linear-gradient(to left bottom, rgba(
                    $secondary-color__-2, .4), rgba(
                    $primary-color__-2, .5),
            rgba($primary-color__0, 0.6),
            rgba($primary-color__1, 0.7),
            rgba($primary-color__2, 0.75)), url("../img/nat-12x1920.jpg");
  }
  @media (max-width: 75em) {
    background-image: linear-gradient(to left bottom, rgba(
                    $secondary-color__-2, .4), rgba(
                    $primary-color__-2, .5),
            rgba($primary-color__0, 0.6),
            rgba($primary-color__1, 0.7),
            rgba($primary-color__2, 0.75)), url("../img/nat-12x1200.png");
  }
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__text-box {
    position: absolute;
    top: 39%;
    left: 48%;
    transform: translate(-45%, -50%);
    text-align: center;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &__logo {
      height: 5rem;
      width: auto;
    }
  }

  &__moving-clouds {
    filter: sepia(100%);
    opacity: .9;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
  }
}