.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to left bottom,rgba(
                  $secondary-color__-2, .4), rgba(
                  $primary-color__-2, .5),
          rgba($primary-color__0, 0.6),
          rgba($primary-color__1, 0.7),
          rgba($primary-color__2, 0.75)), url("../img/nat-12.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  overflow: hidden;

  &__text-box {
    position: absolute;
    top: 39%;
    left: 48%;
    transform: translate(-45%, -50%);
    text-align: center;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &__logo {
      height: 5rem;
      width: auto;
    }
  }

  &__moving-clouds {
    filter: sepia(100%);
    opacity: .8;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
  }
}