.navigation {
  font-size: 4.5rem;

  &__button {
    background-image: radial-gradient($secondary-color__-2, $secondary-color__-1);
    height: 7rem;
    width: 7rem;
    z-index: 1001;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
    @include box-shadow-default;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      height: 6.9rem;
      width: 6.9rem;
    }
  }

  &__checkbox {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  &__background {
    transition: transform 0.3s cubic-bezier(0.3, 0, 0.66, -0.56);
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 999;
    background-image: radial-gradient($secondary-color__-2, $primary-color__-2, $primary-color__-1, $primary-color__0, $primary-color__1);
  }

  &__menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    width: 0;
    transition: all 0.3s cubic-bezier(0.36, 0, 0.66, -0.56);
  }

  &__list {
    position: absolute;
    list-style: none;
    text-align: center;
    @include centralize-content;
  }

  &__item {
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
    background-size: 250%;

    &:hover,
    &:active {
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $neutral-color-off-white__0 50%, $neutral-color-off-white__0 100%,);
      transform: translateX(-3px);
      background-repeat: no-repeat;
      background-position: 100%;
    }

  }

  &__link {
    display: block;
    padding: 0.5rem 5rem;

    &:link,
    &:visited {
      color: $neutral-color-off-white__0;
      font-weight: normal;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }

    &:hover,
    &:active {
      transform: translateX(-3px);
      background-image: linear-gradient(to right bottom, $primary-color__-1, $primary-color__4);
      -webkit-background-clip: text;
      color: transparent;
    }

  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(70);
  }

  &__checkbox:checked ~ &__menu {
    width: 100vw;
    opacity: 1;
  }

  &__checkbox:checked ~ &__button {
    background-image: radial-gradient($primary-color__-1, $primary-color__4);
  }

  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;

    &::before,
    &::after {
      background-color: $neutral-color-off-white__0;
      visibility: initial;
      top: 0;
    }

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(-135deg);
    }
  }

  //ICON
  &__icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s ease-in-out;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $primary-color__2;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: transform .3s ease-in-out;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon,
  &__button:active &__icon {

    &::before {
      transform-origin: center;
      top: -1rem;
    }

    &::after {
      transform-origin: center;
      top: 1rem;
    }
  }
}
