.navigation {
  &__button {
    background-color: $secondary-color__-1;
    height: 7rem;
    width: 7rem;
    z-index: 1001;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
  }

  &__checkbox {

  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    background-image: radial-gradient($primary-color__-3,$primary-color__-2,$primary-color__-1, $primary-color__0,$primary-color__1);
  }

  &__menu {

  }

  &__list {

  }

  &__item {

  }

  &__link {

  }
}